/* General Styles */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
    background-color: #e0f7fa;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(descargar.jpg);
    background-size: cover;
    background-position: center;
    color:white;
}

form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

#nombre, #correo, #contraseña {
    border-radius: 10px;
    height: 30px;
    margin-bottom: 20px
}

#botonregistro {
    padding: 10px;
    margin: 5px;
    background-color: #01579b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botonregistro:hover{
    background-color: #01579b;
}

.oculto {
    display: none;
}

header {
    background-color: #01579b;
    text-align: center;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}


nav ul li a, nav ul li button {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-bottom: 5px; /* Espacio entre el texto y la línea */
    border-bottom: 2px solid transparent; /* Línea invisible por defecto */
    transition: border-bottom 0.3s ease; /* Transición suave */
}


nav ul li a i, nav ul li button i {
    margin-right: 10px;
    font-size: 10px; 
}

nav ul li button {
    background: none;
    border: none;
    cursor: pointer;
}

nav ul li a:hover, nav ul li button:hover {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    border-bottom: 2px solid white; 
}


img{
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 0px 1px 10px;
    margin-right: 10px;
    transition: transform 0.3s ease; 
}

img:hover {
    transform: scale(0.8) translateX(20px); 
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.image-container-2 {
    display: flex;
    justify-content: center;
    gap: 70px; 
}
.slider {
    position: relative;
    overflow: hidden;
    height: 800px;
margin-top: 100px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    min-height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 800px; 
}

.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

}

.slider-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
}


.featured-anime, .latest-news, .community-section {
    padding: 20px;
}

.anime-grid {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
}

.anime-card {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.anime-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 10px;
	transition: opacity 0.3s;
}

.informacion-noticia {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 20px;
	opacity: 0;
	transition: opacity 0.5s;
}

.anime-card:hover .informacion-noticia {
	opacity: 1;
}

.anime-card:hover .anime-card img {
	opacity: 1;
}



.reseña {
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #01579b;
    color: white;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode header {
    background-color: #000000;
}
body.dark-mode footer{
    background-color: #000000;
}

body.dark-mode nav ul li a {
    color: #ddd;
}

body.dark-mode .slider-controls button {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Media Queries */
@media (max-width: 768px) {
    .anime-card, .shop-item {
        width: 100%;
    }
}

